ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
li {
  margin: 10px 20px;
}
button:hover {
  transform: scale(1.3);
  transition: 0.5s;
  border: 2px solid red;
}
.active button {
  background-color: rgb(96, 219, 219);
  border: 2px solid black;
}
.pageNumber{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
